.calendar-space{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 21rem;
    text-align: center;
}
.calendar-space > .title{
    text-align: right;
}
.calendar-space > .time-check{
    display: flex;
    justify-content: space-around;
}
.calendar-space > .time-check > span,.calendar-space > .time-check > select{
    width: 4rem;
}
.calendar-space > .week,.calendar-space > .date{
    display: flex;
    justify-content: center;
}
.calendar-space .cell{
    width: 3rem;
    margin-left: 0;
    margin-right: 0;
}
.calendar-space > .date-show{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}